<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="custom_copyright_text" type="Yash\UserStory2\Plugin\CustomMessage" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="product_onSale" type="Yash\UserStory2\Plugin\CustomMessage" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Theme\Block\Html\Header">
        <plugin name="custom_welcome" type="Yash\UserStory2\Plugin\CustomMessage" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="foo_bar_plugin_breadcrumbs_modification" type="Yash\UserStory2\Plugin\Breadcrumb" sortOrder="1" />
    </type>
</config>
