<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="review_save_after">
    <observer name="wk_update_product_review_after_observer"
      instance="Yash\UserStory17\Observer\SaveReviewAfter"/>
  </event>
</config>