<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Backend:etc/menu.xsd'>
    <menu>
        <add id='Yash_UserStory5::tutorial'
            title='UserStory5'
            module='Yash_UserStory5'
            sortOrder='50'
            resource='Yash_UserStory5::tutorial'/>
            <add id="Yash_UserStory5::subitem" title="Custom" module="Yash_UserStory5" sortOrder="0" parent="Yash_UserStory5::tutorial"
                action="tutorial/tutorial/index" resource="Yash_UserStory5::tutorial"/>
    </menu>
</config>