<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="block" frontName="block">
            <module name="Yash_UserStory8" />
        </route>
        <route id="save" frontName="save">
            <module name="Yash_UserStory8" />
        </route>
    </router>
</config>